---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>tomiyan.net</h1>
      <p>
        <a href="https://github.com/tomiyan">GitHub</a>
      </p>
      <p>
        <a href="https://zenn.dev/tomiyan">Zenn</a>
      </p>
      <p>
        <a href="https://qiita.com/tomiyan">Qiita</a>
      </p>
      <p>
        <a href="https://twitter.com/tomiyan">X</a>
      </p>
      <p>
        <a href="https://www.wantedly.com/id/tomiyan">Wantedly</a>
      </p>
    </main>
    <Footer />
  </body>
</html>
